/* Challenge CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0px auto;
  height: 100%;
  gap: 45px;
  transform: scale(0.9);
}

h1 {
  font-size: 40px;
  color: #282828;
}

h1 img {
  width: 75px;
  height: 60px;
  object-fit: contain;
}

.pricing-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.pricing-card {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.pricing-card h2 {
  font-size: 30px;
  color: #202020;
}

.pricing-card:hover {
  transform: scale(1.05);
}

.pricing-card.popular {
  position: relative;
  border: 2px solid #fd6026;
}

.popular-badge {
  position: absolute;
  top: -28px;
  font-size: 20px;
  color: #ffffff;
  background-color: #fd6026;
  padding: 10px 14px;
  border-radius: 50px;
}

.price {
  font-size: 50px;
  color: #202020;
  font-weight: bolder;
}

.period {
  font-size: 18px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #989898;
}

.features li {
  list-style-type: "🍵";
  font-size: 22px;
  color: #717171;
  font-weight: thin;
}

.subscribe-btn {
  background-color: #ff8800ef;
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 19px;
  color: #282828;
  font-weight: 500;
  transition: all 0.3s;
}

.subscribe-btn:hover {
  background-color: #c26802f9;
  cursor: pointer;
  color: #ffffff;
}

@media screen and (max-width: 1000px) {
  .pricing-container {
    flex-direction: column;
  }
}
